/* CSS do Menu */
ul{
        list-style-type: none; 
        margin: 0%;
        padding: 0%;
        overflow: hidden;
       
        padding-right: 3%;
        padding-top: 0.5%;
    }

    ul li {
            float: right;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none; /*estilos para decoração do texto*/
        }

        li a:hover {
            background-color: #fff;
        } /* Fim do CSS do Menu */

/* Fim do CSS do body */
body{
  width: 100%;
  height: 100%;
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 300;
  color: #666;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
} /* Fim do CSS do body */


.tamanho{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 1.5%;
}


hr{
  text-align: center;
  margin-left: 37%;
  margin-right: 37%;
}

h2{
    text-align: center;
}
p{
    text-align: center;
}

.imagem{
    margin-left: 27%;
    border-radius: 5%;
    
}

/* CSS do Logotipo na barra de menu */
.site-logo {	
	margin-top:10px;
	margin-bottom:10px;
  margin-left: 4%;
  margin-right: 20%;
}

.site-logo a.brand {
	color: #2487cd;	
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
  text-decoration: none;
  margin-left: -30%;
	
}
.site-logo a.brand:hover {
	text-decoration:none;
}
/*Fim CSS do Logotipo na barra de menu */



/* CSS da navegação */
.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  font-weight: 700;
}

.navbar-brand:focus {
  outline: 0;
}

.nav.navbar-nav {
padding:30px;
}

.navbar-fixed-top ul.nav li a {
font-size: 14px;
letter-spacing: 3px;
  color: #000;
text-transform: uppercase;
font-weight: 700;
}

.navbar-fixed-top.top-nav-collapse ul.nav li a {
    -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
color: #fff;
}

.navbar-fixed-top ul.nav ul.dropdown-menu {
  border-radius: 0;	
margin-top: 21px;
border-top: none;
}

.navbar-fixed-top ul.nav li a:hover ul.dropdown-menu {
    -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.navbar-fixed-top ul.nav ul.dropdown-menu li:last-child{
border-bottom: none;
}

.navbar-fixed-top ul.nav ul.dropdown-menu li a {
padding: 10px 20px;
}

.navbar-fixed-top.top-nav-collapse ul.nav ul.dropdown-menu li a {
color: #666;
}

.navbar-fixed-top .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-fixed-top .nav li a:hover,
.navbar-fixed-top .nav li a:focus,
.navbar-fixed-top.nav li.active {
  outline: 0;

color:#2487cd ;
}

.navbar-toggle {
  padding: 4px 12px;
  font-size: 18px;
  color: #000;
}

.navbar-toggle:focus,
.navbar-toggle:active {
  outline: 0;
}
/* Fim do CSS da navegação */




/* CSS do Card */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
 
.card p {
  color: #a3a5ae;
  font-size: 16px;
}
 
.image {
    max-width: 1000px;
    max-height: 1000px;    
}

.blue {
  border-left: 3px solid #4895ff;
}
 
.green {
  border-left: 3px solid #3bb54a;
}
 
.red {
  border-left: 3px solid #b3404a;
}

/* Fim do CSS do card */

.rodape{
     margin: 0%;
        padding: 0%;
        overflow: hidden;
        background-color: #111111; /*Cor do fundo do texto*/
        padding-right: 3%;
        padding-top: 0.5%;
}


.cor{
    color:#fafafa;
}

.margens{
    margin-top: 12%;
   
    margin-left: 20%;
    margin-right: 20%;
}
 
.logo_login{
    margin-left: 40%;
    border-radius:50%;
    width:150px;
    height: 150px;
    
}


/*Css do login e do form.*/

form {
  border: 3px solid #f1f1f1;
}

/* imput */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* botão */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}


button:hover {
  opacity: 0.8;
}


.container {
  padding: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}


